/*自定义全局样式*/
.navbar-myDefault {
    background-color: #fff; 
    border-color: #fff; 
}
.navbar-myDefault .navbar-toggle:hover, .navbar-myDefault .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-myDefault .navbar-toggle {
    border-color: #ddd;
}
.navbar-myDefault .navbar-toggle .icon-bar {
    background-color: #888;
}



/*/自定义全局样式*/



/*覆盖bootstrap样式*/
a{color: #999}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #fff;
}
.dropdown-menu>li>a{color: #999; }
small { font-size: 60%;}
.navbar-default{background-color: #fff; }
/*/覆盖bootstrap样式*/



/*------index------*/
.content{text-align: center; padding-top: 45px; }
.big-title h1{font-size: 60px; }
.big-title p{line-height: 1.6em; font-size: 20px; }
.big-title{padding-left: 150px; padding-right: 150px; }
.clr-red{color: #ff6633 ;}
.clr-orange{color: #ffcc00 ;}
.clr-green{color: #66cc00 ;}
.clr-blue{color: #0066ff ;}
.clr-gay{color: #999; }

/*------/index------*/


/*------footer------*/
.nav-footer{
  border-bottom-width: 0px;
  margin-bottom: 0px;
}
footer{padding: 16px 0; color: #777; }
.navbar-nav>li>a.copyright{display: inline; padding: 0; color: #009DDC; }


/*------/footer------*/


/*------detail------*/








/*------/detail------*/

/*------qa------*/
.answerTime{font-size: .938em; color: #7d7d84; }
.media-border{border: 1px solid #e3e3e3; padding: 6px 8px; }
.glyphicon-thumbs-up{margin-right: 5px; }
.glyphicon-thumbs-down{margin-right: 5px; }
.writeAnswer{margin-top: 20px; }
.writeText{display: none;}
.writeText .btn.pull-right{margin-top: 20px; }
.writeAnswer .input-sm{color: #999; } 
a .glyphicon{color: #2a6496; }
.badge{background-color: #428bca; margin-left: 15px; }





/*------/qa------*/


/*------/results------*/
.clr-error{color: #a94442; }
.clr-warning{color: #8a6d3b;}
.clr-success{color: #3c763d; }
.clr-info{color: #5bc0de; }

.exam-result{text-align: center; }
.table.table-thin>thead>tr>td,.table.table-thin>tbody>tr>td{padding: 2px;}
.table.table-thin>thead>tr>td:nth-last-child(1),.table.table-thin>tbody>tr>td:nth-last-child(1),
.table.table-thin>thead>tr>td:nth-last-child(2),.table.table-thin>tbody>tr>td:nth-last-child(2)
{width: 10%; text-align: center; }
.table-thin th{font-size: 9px; }
/*------/results------*/







/*----------------------------------------------自适应模块-----------------------------------------------*/

/*手机*/
@media (max-width: 767px){
  .nav>li {
      border-bottom: 1px solid #888;
  }
  footer .nav>li{border: 0; }
  footer .navbar-nav {
      float: left;
      margin: 0;
  }

  footer .navbar-right {
      float: right!important;
  }
  .navbar-brand img{height: 20px; }
  .smalltitle{display: inline; }
  .big-title h1{font-size: 30px; }
  .big-title p{line-height: 1.6em; font-size: 20px; }
  .big-title{padding-left: 0px; padding-right: 0px; }

  .nav>li.active{background-color: #f9f9f9;}


}

/*平板竖屏*/
@media (min-width: 768px){
  .smalltitle{display: none; }
  .navbar-nav>li>a {
      padding-right: 10px;
      padding-left: 10px;
  }

}

/*桌面显示器*/
@media (min-width: 992px){
  .navbar-nav>li>a {
      padding-right: 15px;
      padding-left: 15px;
  }
  footer .container{padding-right: 160px; padding-left: 160px; }
}


/*大桌面显示器*/
@media (min-width: 1200px){

}
